<%title "Listenansicht der Kategorie #{@product_category.name}"%>
<div class="row">
<p id="notice"><%= notice %></p>

<h1><%= "Kategorie #{@product_category.name}"%></h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>Name</th>
      <th>Beschrieb</th>
      <th>Anzeigen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_category.products.order(:position, release_date: :desc).each do |product| %>
      <tr>
        <td><%= link_to(" \u25B2 ", product_url(product.id, :product => product.attributes, :up => 1),  method: :put)%></td>
        <td><%= link_to(" \u25BC ", product_url(product.id, :product => product.attributes, :up => 2),  method: :put)%></td>
        <td><%= best_in_place(product, :name)%></td>
        <td><%= best_in_place(product, :description) %></td>
        <td><%= link_to(image_tag(product.image(:thumb)), product, alt: 'Anzeigen') %></td>
        <td><%= link_to 'Ändern', edit_product_path(product) %></td>
        <td><%= link_to 'Löschen', product, method: :delete, data: { confirm: 'Würklech?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
