<%title "Produktliste"%>

<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschrieb</th>
      <th>Herausgabedatum</th>
      <th>zum Verkauf</th>
      <th>Preis</th>
      <th>Bild</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.release_date %></td>
        <td><%= product.on_sale %></td>
        <td><%= product.price %></td>
        <td><%= image_tag(product.image(:thumb)) %></td>
        <td><%= link_to 'Anzeigen', product %></td>
        <td><%= link_to 'Ändern', edit_product_path(product) %></td>
        <td><%= link_to 'Löschen', product, method: :delete, data: { confirm: 'Würklech?' } %></td>
      </tr>
    <% end %>
  </tbody>  

</table>

<br>

<div class="left row">
<%= link_to 'New Product', new_product_path %>
</div>
