<%title "#{@product.name}"%>

<p id="notice"><%= notice %></p>

<div class="row">
<p>
  <%= @product.name %>
</p>

<p>
  <%= @product.description %>
</p>
    
<p>
 
<% if @product.on_sale && @product.price %>
  <%= @product.price %>
Preis:
<%elsif @product.not_for_sale %>
Unverkäuflich
<%else%>
<%= @product.price %>
<%end%>
</p>
</div>
<div class="row">
            <div class="center"> <%= image_tag(@product.image) %>
            </div>
</div> 


<p>
Kategorie:
  <%= link_to(@product.product_category.name, @product.product_category) if @product.product_category%>
</p>

<% if admin?%>
 <%= link_to 'Ändern', edit_product_path(@product)%>
 <%= link_to 'Löschen', @product, method: :delete, data: { confirm: 'Würklech?' } %>
<%end%>
<%= link_to 'Zurück', @product.product_category %>
