<%title "#{@product.name}"%>

<p id="notice"><%= notice %></p>

<div class="row">
<p>
  <%= @product.name %>
</p>

<p>
  <%= @product.description %>
</p>

<p>
Herausgabedatum: <%= @product.release_date.strftime("%d.%m %Y") %>
</p>

<p>
Preis: 
<% if @product.on_sale %>
  <%= @product.price %>
<%elsif @product.not_for_sale %>
Unverkäuflich
<%else%>
<%= @product.price %>
<%end%>
</p>
</div>
<div class="box row">
            <div class="boxcontent"> <%= image_tag(@product.image) %>
            </div>
</div> 


<p>
Kategorie:
  <%= @product.product_category.name if @product.product_category%>
</p>

<% if admin?%>
 <%= link_to 'Edit', edit_product_path(@product)%>
<%end%>
<%= link_to 'Back', @product.product_category %>
