<header class="row">
    <a href="/" class="center">
        <div id="headerimage"> 
            <%= image_tag("headlinerbeatriceguggerklein72dpi.jpg", class:"image_for_header")%>
        </div>
    </a>
    
   


    <nav>
        <ul>
            <li> <%= link_to "Portfolio", product_categories_path, class: "col-3 col-m-6" %></li>
            <li> <%= link_to "Kontakt", contact_path, class: "col-3 col-m-6" %></li>
            <li> <a href="/about" class="col-3 col-m-6">Über mich</a> </li>
            <li> <a href="/atelier" class="col-3 col-m-6">Atelier</a> </li>
            
            
            <% if false %>
            <% if !logged_in? %>
            <li> <%=link_to "Login", login_path, class: "col-3 col-m-6"%></li>
            <% else %>
            <li><%= link_to "Logout", logout_path, method: "delete", class: "col-3 col-m-6" %> </li>
            <%end%>
            <% end %>
        </ul>
    </nav>
    
</header>